/* 001*/
body {
    background-image: url(../imgs/fon.jpg);/* для установления картинки на фон*/
    color: rgb(110, 134, 134);/* для изменения цвета текста*/
    font-family: 'Kdam Thmor Pro', sans-serif;/* для смены стиля шрифта*/
}

/* 012*/
header.header:after {
    content: '';/* дял выбра контента*/
    display: table;/* для стиль таблицы*/
    clear: both;/* для отмены обтекаемости*/
}

/* 010*/
.nav {
    font-size: 0;/* убрать минимальные отсупы между блоками*/
    float: left;/* задать обтекаемость по правой стороне*/
    margin: 1% 4%;/* задать внешние отступы*/
    width: 88%;/* задать ширину блоку*/
}

/* 010*/
.nav__item {
    font-size: 1rem;/* для установления размера текста*/
    display: inline-block;/* смена элемента с строчного на блочный*/
    position: relative;/* установить позициорнирование от этого эелемента*/
    width: 7%;/* задать ширину блоку*/
    text-transform: uppercase;/* зделать буквы заглавными*/
}

/* 021*/
.nav__item:hover .dropdown, 
.nav__item:hover .list, 
.nav__item:hover .drop {
    background: black;/* задать цвет фона*/
    display: block;/* смена элемента с строчного на блочный*/
    opacity: 0.9;/* добавить прозрачность*/
    text-transform: none;/* убрать подчеркивание*/
}

/* 011*/
.nav__item:hover,
.list__item:hover,
.dropdown__item:hover,
.drop__item:hover {
    transform: scale(1.1);/* при наведении менять размер*/
}

/* 010*/
.nav__link,
.dropdown__link,
.list__link,
.drop__link {
    display: block;/* смена элемента с строчного на блочный*/
    padding: 10px;/* задать внутренние отступы*/
    text-decoration: none;/* отмена буквы заглавными*/
    color: silver;/* зделать цвет текста*/
}

/* 010*/
.dropdown,
.list,
.drop {
    position: absolute;/* установить позиционирование к др элементу*/
    display: none;/* элементы не видны до наведениЯ на родителя позицианирования*/
    width: 100%;/* зделать ширину блоку*/
}

/* 010*/
.dropdown__item,
.list__item,
.drop__item {
    display: block;/* изменение с сторчного на блочный*/
}

/* 010*/
.wrapper {
    width: 75%;/* для задачи ширины блоку*/
    padding:1% 4%;/* для создания внутренних отступов */
}

/* 011*/
.card::after {
    content: '';/* задается для невидимого контента  */
    display: table;/* задать вид таблицы  */
    clear: both;/* для отмены обтекания*/
}

/* 010*/
.card__item {
    width: 20%;/* для задачи ширины блоку*/
    height: 600px;/* задать всем карточкам одинаковую высоту*/
    padding: 2%;/* для создания внутренних отступов */
    margin: 1%;/* для формирования внеших отсупов*/
    float: left;/* для формирования обтекания по правой стороне*/
    border: 5px solid silver;/* для формирования сплошной границы карточкам ее цвета и размера*/
    background: rgb(10, 10, 10);/* для задачи цветаа фона карточкам*/
}

/* 010*/
.card__item__clear {
    clear: both;/* для отмены обтекания*/
}

/* 010*/
.card__header-wrap {
    width: 100%;/* задать ширину блоку*/
}

/* 010*/
.card__img {
    display: block;/* сделать элемент блочным*/
    width: auto;/* для задачи ширины картинке*/
    max-width: 90%;/* установить максимальную ширину 90% от блока*/
    margin: 0 auto;/* разместить картинку по середине*/
}

/* 011*/
.card__btm__wrap:hover,
.card__img:hover {
    transform: scale(1.2);/* при навееднии менять размер ссылки\кнопки*/
    border: 1px solid rgb(250, 253, 250);/* для формирования сплошной границы карточкам ее цвета и размера*/
    background: rgb(214, 236, 211);/* изменить цвет фона*/
}

/* 010*/
.card__heading {
    margin: 15%;/* для формирования внеших отсупов*/
    color: aliceblue;/* задать цвет тексту*/
    text-align: center;/* для размещения текста по центру*/
    font-size: 1rem;/* задать размер текста*/
}

/* 010*/
.card__article {
    text-align: center;/* для размещения текста по центру*/
}

/* 010*/
.card__desk {
    margin-bottom: 4%;/* для формирования внешего нижнего отсупа*/
    font-size: .875rem;/* задать размер текста*/
}

/* 010*/
.card__btm__wrap {
    margin: 10% 25%;/* для формирования внеших отсупов*/
    width: 50%;/* для задачи ширины кнопке*/
    padding: 2% 3%;/* для создания внутренних отступов */
    border: 2px solid rgb(143, 139, 129);/* для формирования сплошной границы ее цвета и размера*/
    text-align: center;/* для размещения текста по центру*/
    background: rgb(175, 168, 175);/* для задачи цветаа фона*/
    font-size: .875rem;/* задать размер текста*/
}

/* 010*/
.card__btm {
    text-decoration: none;/* убрать нижнее подчеркивание характерное для ссылки*/
    color: rgb(20, 20, 20);/* задать цвет тексту*/
    display: block;/* сделать элемент блочным*/
}

/* 010*/
.footer__text {
    margin: 5%;/* для формирования внеших отсупов*/
    text-align: right;/* для размещения текста по правой стороне*/
    font-size: 0.575rem;/* задать размер текста*/
}